@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  /* --white: hsl(0, 0%, 100%) */
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --dark-blue-light: hsl(213, 19%, 23%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

/* Composition */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overpass', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:var(--very-dark-blue);
  color: white;
}
body > * {
  background: var(--dark-blue);
  margin: 0 1rem;
  /* potentially add padding: 2rem 1rem */
  padding: 2rem 1rem;
  border-radius: 1rem;
  max-width:400px;
}
@media(min-width:400px) {
  body > * {
    padding: 2rem 2rem;
    border-radius: 1.25rem
  }
}
p {
  font-size:15px;
}


/* Blocks */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--orange)
}
button {
  width: 100%;
  background: var(--orange);
  padding: 1rem;
  border: 0;
  border-radius: 2rem;
  color: white;
  font-size: 1rem;
  letter-spacing: .15rem;
}
button:hover {
  box-shadow: 0.25rem 0.25rem 1rem black;
}
button:active {
  color: var(--orange);
  background: white;
}
.circle {
  padding: 1.5rem;
  background: var(--dark-blue-light);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}
.item:hover {
  background: var(--light-grey);
  color: white;
}
.active {
  background: var(--orange);
}
.active > * {
  color:white;
}
.ratingCard > *+* {
margin-top:1.25rem;
}
.submissionCard > *+* {
margin-top:1.25em;
}
.ranked_score {
  padding: 0.5rem 0.75rem;
    border-radius: 2rem;
    background: var(--dark-blue-light);
    color: var(--orange);
}

/* Utilities */
.flex {
  display: flex;
}
.flex_justify_space-between {
  justify-content: space-between;
}
.flex_center {
  justify-content: center;
  align-items: center;
}
.flex_column {
  flex-direction: column;
}
.text_center {
  text-align: center;
}
.text_color {
  color:var(--medium-grey)
}
.hide_display {
  display: none;
}

/* Exceptions */
.extra_margin {
  margin: 1.5rem 0 0.5rem 0;
}
.minus_margin {
  margin-top:.75rem;
}
